<div *ngIf="!isCartEmpty();else cart_is_empty">
<br> 
<h2 id="title">Manage Your Cart</h2>

<hr>
<div class="main-container" >
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="item">
        <th mat-header-cell *matHeaderCellDef>Item.</th>
        <td mat-cell *matCellDef="let element">
            {{ element.item }}
            <img [fxHide.xs]="true" src="{{element.img_src}}" >
        </td>
        <td mat-footer-cell *matFooterCellDef>Total</td>
      </ng-container>

      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef>Cost.</th>
        <td mat-cell *matCellDef="let element">
          {{ element.cost | currency }}
        </td>
        <td mat-footer-cell *matFooterCellDef>{{ totleCost | currency }}</td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Quantity.</th>
        <td mat-cell *matCellDef="let element; let i = index">

            <input
            type="number"
            min="1"
            max="10"
            [disabled]="!qtyUpdatable"
           [value]="element.quantity"
           #qty
           (change)="itemQuantityChanged(i,qty.value)"
           />
        </td>
        <td mat-footer-cell *matFooterCellDef>{{ totle_quantity }}</td>
      </ng-container>

      <ng-container matColumnDef="totle_cost">
        <th mat-header-cell *matHeaderCellDef>Totle Cost</th>
        <td mat-cell *matCellDef="let element">
          {{ element.totle_cost | currency }}
        </td>
        <td mat-footer-cell *matFooterCellDef>{{ netCost | currency }}</td>
      </ng-container>

      <ng-container matColumnDef="star">
        <th mat-header-cell *matHeaderCellDef>
            <button mat-menu-item >
                <mat-icon matTooltip="Clear Cart" 
                        (click)="clearCart()"
                        style="color: rgb(155, 89, 89); font-size: 30px;">delete_sweep</mat-icon>
            </button>
        </th>
        <td mat-cell *matCellDef="let element; let i=index">
            <button mat-menu-item>
                <mat-icon
                (click)="deleteFromCart(i)"
                matTooltip="Delete from cart" >delete</mat-icon
                    
                 >
              </button>
        </td>
        <td mat-footer-cell *matFooterCellDef>
          
            <button mat-button 
                    routerLink="../checkout"
                    matTooltip="Checkout For Purchase"
                    style="color: green;" >
                <mat-icon 
                >done</mat-icon>
                <span>Checkout</span>
              </button>
            <!-- <button mat-menu-item >
                <mat-icon style="color:aquamarine" 
                >done</mat-icon>
                <span>Checkout</span>
              </button> -->
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>
  </div>
 
</div>
<ng-template #cart_is_empty>
    <div class="container">
        <section class="jumbotron text-center">
                <div class="container">
                    <h1 style="color:red;" class="jumbotron-heading">CART IS EMPTY</h1>
                </div>
        </section>
    </div>
    
    </ng-template> 


<!-- <div *ngIf="!isCartEmpty();else cart_is_empty">

<div class="container">
    <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Universal Books Cart</h1>
            </div>
    </section>
</div>

<div>
<div class="container mb-4">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-striped table-hover ">
                        <thead>
                            <tr>
                                <th scope="col"> Username </th>
                                <th scope="col">Id</th>
                                <th scope="col" class="text-center">Price</th>
                                <th scope="col" class="text-right">Quantity</th>
                                <th scope="col" class="text-right">Totle Price</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cartItem of booksCart; let i=index">
                               

                                <td> {{cartItem.user.username}}</td>
                                <td> {{cartItem.book.id}}</td>
                                <td class="text-right"> {{cartItem.price|currency}}</td>
                                <td><input class="form-control" 
                                           type="number"
                                           min="1"
                                           max="10"
                                           [disabled]="!qtyUpdatable"
                                          [value]="cartItem.quantity"
                                          #qty
                                          (change)="itemQuantityChanged(i,qty.value)"
                                          /></td> 
                                


                                <td class="text-right"> {{cartItem.totle_price|currency}}</td>
                                <td class="text-right">
                               
                                    <button class="btn btn-sm btn-danger" 
                                    (click)="deleteFromCart(cartItem)">
                                <i class="fa fa-trash"></i> </button> </td>

                            </tr >
                        
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Sub-Total</td>
                                <td class="text-center">{{totle_items_price|currency}}</td>
                            </tr>
                            
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><strong>Total</strong></td>
                                <td class="text-center"><strong>{{totle_items_price|currency}}</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div> 

             <div class="col mb-2">
                <div class="row">
                    <div class="col-sm-12 col-md-12 text-center">
                        <a
                        routerLink="../checkout"
                        class="btn btn-outline-primary btn-block text-uppercase"> Checkout</a>
                    </div>
                </div>
            </div>
         
        </div>
</div>
</div>
</div>

<ng-template #cart_is_empty>
<div class="container">
    <section class="jumbotron text-center">
            <div class="container">
                <h1 style="color:red;" class="jumbotron-heading">CART IS EMPTY</h1>
            </div>
    </section>
</div>

</ng-template> -->