<!-- 
         <mat-list dense>
           <mat-list-item>angular</mat-list-item>
           <mat-list-item>React</mat-list-item>
           <mat-list-item>Vue.js</mat-list-item>
           <mat-list-item>Ember</mat-list-item>
           <mat-list-item>Backbone</mat-list-item>
           <mat-list-item>Knockout</mat-list-item>
       </mat-list>   -->

               <!-- [class.selected]="hero === selectedHero" -->

               <mat-nav-list>       
      
                <mat-list-item routerLink="heros">
                        <a> Heros Form</a>
                </mat-list-item>
        
        
                <mat-list-item routerLink="material-form">
                        <a> Angular Form</a>
                   </mat-list-item>
            
                   <mat-list-item routerLink="advance-material-form">
                        <a>Advance  Angular Form</a>
               </mat-list-item>
        
                   
                   
            <mat-list-item routerLink="buttons">
                    <a> Button</a>
               </mat-list-item>
        
               <mat-list-item routerLink="tabs">
                    <a> Tabs</a>
               </mat-list-item>
        
               <mat-list-item routerLink="stepper">
                    <a> Stepper</a>
               </mat-list-item>
        
               <mat-list-item routerLink="tooltips">
                    <a> tooltips and more</a>
               </mat-list-item>
        
               <mat-list-item routerLink="dialogs">
                    <a> dialogs</a>
               </mat-list-item>
        
               <mat-list-item routerLink="datatables">
                  <a>Products</a>
             </mat-list-item>
        
             <mat-list-item routerLink="virtualscrolling">
                  <a>Virtual Scrolling</a>
             </mat-list-item>
        
             <mat-list-item routerLink="uploadfile">
                  <a>Upload file</a>
             </mat-list-item>
        
             <mat-list-item routerLink="fetchimages">
                  <a>View Images</a>
             </mat-list-item>
             
        
           </mat-nav-list> 
        
           <!-- <mat-list>       
               <mat-list-item>
                   <mat-icon matListIcon>home</mat-icon>
                   <h3 matLine>Heading</h3>
                   <p matLine>Line</p>
               </mat-list-item>
               <mat-divider></mat-divider>
               <mat-list-item>
                       <mat-icon matListIcon>folder</mat-icon>
                       <h3 matLine>Folders</h3>
                       <p matLine>songs</p>
               </mat-list-item>
           </mat-list> -->
        
                <!-- <my-accordion-panel>
                    <my-accordion-panel-header>This is a header</my-accordion-panel-header>
                    <my-accordion-panel-content>This is a content</my-accordion-panel-content>
                </my-accordion-panel> -->
        
               
             
        
              
        